doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') GesProduit
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/') Accueil
          li.nav-item.active
            a.nav-link(href='/about') À propos
          li.nav-item
            a.nav-link(href='/contact') Contact
    .container
      h1 À propos de nous
      p Bienvenue sur notre site web. Nous sommes une équipe passionnée dédiée à offrir d'excellents services à nos clients. Bla bla bla...
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
