doctype html
html
  head
    title Détails du Produit
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    .container 
      .row
      .content.text-center.mb-10.p-5     
          h2 Détails du Produit
          p Nom du Produit: #{produit.nom}
          p Prix: #{produit.prix}
          p Description: #{produit.description}
          a.btn.btn-primary(href='/') Retour à la Liste des Produits
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')























    
