doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') GesProduit
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/') Accueil
          li.nav-item
            a.nav-link(href='/about') À propos
          li.nav-item
            a.nav-link(href='/contact') Contact
    .container
      h1 Modifier un produit
      form(action=`/modifyProduit/${produit.id}`, method='post')
        .form-group
          label(for='name') Nom du produit
          input#name.form-control(type='text', name='nom',value = produit.nom,required)
        .form-group
          label(for='price') Prix du produit
          input#price.form-control(type='number', name='prix', step='0.01',value = produit.prix,required)
        .form-group
          label(for='description') Description du produit
          textarea#description.form-control(name='description',rows='5',value = produit.description,required)
        .content.text-center
          button.btn.btn-primary(type='submit') Valider
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
