    @media (max-width: 576px) {
      h1{
        margin-top: 20%;
        text-align: center;
         
      }
      .navbar{
          position:relative;
          
      }
    }
    @media (min-width: 577px) and (max-width: 992px) {
        h1{
        margin-top: 10%;
        text-align: center;
      }
      .navbar{
          position:relative;
          
      }
    }
    
  @media (min-width: 993px) {
    h1 {
      margin-top: 5%;
      text-align: center;
    }
    .navbar{
      position: relative;
    }
    
  } 
  
  
  